p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  color: black;
}
html {
  font-size: 16px; /* px means "pixels": the base font size is now 16 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 5px solid blueviolet;
}
img {
  display: block;
  margin: 0 auto;
}